*, *::before, *::after{
    box-sizing: border-box;
}

p{
    line-height: 1.5;
    color: $dark;
}

img{
    width: 100%;
    vertical-align: middle;
}

a{
    text-decoration: none;
}

.dark{
    h1, h2, h3, p, a, li, span{
        color: rgb(156, 156, 156);
    }
    button{
        background: $light;
    }
}