
.flex-row-center{
    display: flex;
    align-items: center;
}

.title{
    font-size: 32px;
    margin-bottom: $spacer * 3;
    text-align: center;
}

.subTitle{
    font-size: 24px;
    margin-bottom: $spacer * 2;
}

.msgBox{
    margin-bottom: 48px;
    li{
        margin-bottom: 8px;
    }
}

.appFile{
    margin-bottom: 36px;
}

.addFileBtn{
    background: transparent;
    padding: 12px 24px;
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 36px;
    cursor: pointer;
    transition: .6s;
    &:hover{
        box-shadow: 2px 2px 8px 1.5px #aaa;
    }
    &:active{
        box-shadow: none;
    }
}

.strikethrough{
    text-decoration: line-through;
}