.updateContent{
    background: rgba(#eee, .6);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 36px;
    textarea{
        display: block;
        width: 100%;
        padding: 5px 10px;
        margin-top: 16px;
    }
}

.dark{
    .updateContent{
        background: rgb(233, 233, 233);
    }
}