
.uploadFile{
    &-header{
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        .systemIcon{
            width: 25px;
            height: 25px;
            margin-right: 8px;
        }
        label{
            display: flex;
            align-items: center;
        }
        .labelTest{
            padding: 12px 16px;
            border: 1px solid #aaa;
            border-left: none;
            border-radius: 0px 8px 8px 0px;
            cursor: pointer;
            transition: .5s;
            &:hover{
                color: #fff;
                background: #aaa;
            }
        }
        .fileName{
            background: #fff;
            padding: 12px 16px;
            border: 1px solid #aaa;
            border-radius: 8px 0px 0px 8px;
        }
        .inputFile{
            display: none;
        }
    }
    &-body{
        display: flex;
        align-items: center;
        img{
            width: 100px;
            margin-right: 16px;
        }
        .msgBox{
            margin-bottom: 0px;
            li{
                &:last-child{ 
                    margin-bottom: 0px;
                }
            }
        }
        .appInfoInput{
            font-weight: 700;
            color: rgb(112, 112, 112);
            background: none;
            border: none;
        }
    }
}
