@import 'swiper/css';

.slide{
    height: 100%;
    position: relative;
    &-header{
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-body{
        height: 90%;
        display: flex;
        overflow-x: overlay;
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent; 
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(170, 170, 170); 
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgb(56, 56, 56); 
        }
    }
    &-item{
        position: relative;
        margin-right: 16px;
        &:last-child{
            margin-right: 0px;
        }
        button{
            color: #fff;
            background: rgba(187, 187, 187, .7);
            padding: 10px 13.5px;
            border: none;
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
            z-index: 2;
        }
    }
}

.uploadBtn{
    display: block;
    width: 60px;
    height: 60px;
    background: rgba(187, 187, 187, .5);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    input{
        display: none;
    }
    span{
        font-size: 40px;
        font-weight: 700;
        color: #fff;
    }
}