
.slide{
    height: 100%;
    position: relative;
    &-header{
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-body{
        height: 90%;
        display: flex;
        overflow-x: overlay;
        .slideDrag-move{
            transition: transform .3s;
        }
        &::-webkit-scrollbar {
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            background: transparent; 
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(170, 170, 170, .5); 
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(0, 0, 0, 0.5); 
        }
    }
    &-item{
        display: block;
        margin-right: 16px;
        position: relative;
        cursor: grab;
        &:last-child{
            margin-right: 0px;
        }
        button{
            color: #fff;
            background: rgba(187, 187, 187, .7);
            padding: 10px 13.5px;
            border: none;
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
            z-index: 2;
        }
    }
}

.uploadBtn{
    display: block;
    width: 60px;
    height: 60px;
    background: rgba(187, 187, 187, .5);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    input{
        display: none;
    }
    span{
        font-size: 40px;
        font-weight: 700;
        color: #fff;
    }
}